/* ----- Reset Navegador ----- */

*{
	margin: 0;
	padding: 0;
}

/* ----- Estilos Generales ----- */
body{
	background: url(../imagenes/back.png)no-repeat center center fixed;
  	background-attachment: fixed;  
  	background-size: cover;
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #8c8c8c;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;

}

p{
	line-height: 3vh;
}

nav ul{
	list-style: none;
}

nav ul li{
	float: right;
}

nav a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0.5rem;
}
nav a:hover {
	color: #8c815e;
}


.contenedor  header,
.contenedor  nav,
.contenedor  aside,
.contenedor .articulo,
.contenedor  article,
.contenedor  section,
.contenedor  footer{
	padding: 5%;
	text-align: justify;
}

.contenedor {
	width: 80%;
	max-width: 1280px;
	margin: 5% auto;
    text-align: center;
	display: grid;
	grid-gap: 1%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);

	grid-template-areas: "header   header   header"
						 "aside    article  article"
						 "aside    article  article"
						 "....     section  section"
						 "footer   footer   footer";
}


header img {
	width: 25%;
	position: left;
}

img{
	width: 100%;
}

h1{
	font-size: 2vW;
	text-align: center;
	margin-bottom: 1rem;
}

h2{
	font-size: 1.5vW;
	text-align: center;
	margin-bottom: 1rem;
}

h3{
	font-size: 1.2vW;
	text-align: center;
	margin: 1rem;
}

h4{
	font-size: 1.2vW;
	text-align: center;
	margin: 1rem;
}
h5 a{
	color: #fff;
	text-decoration: none;
	display: block;
}
h5 a:hover{
	color: #8c815e;
}

article a{
	color: #fff;
	text-decoration: none;
	display: block;
}
article a:hover{
	color: #8c815e;
}

header{
	grid-area: header;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	opacity: 0.7;
}

aside {
	grid-area: aside;
	background-color: #000;
	opacity: 0.7;

}

aside img{
	width: 30%;
	display:block;
	margin:auto;
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
article{
	grid-area: article;
	background-color: #000;
	opacity: 0.7;

}
section{
	grid-area: section;
}
footer{
	grid-area: footer;
	justify-content: center;
	color: #fff;
	background-color: #000;
	opacity: 0.7;
}

.contenedor .articulo{	
	grid-template-areas: 
						 "header   header    header"
						 "aside    article  article"
						 "aside    article  article"
						 "footer   footer    footer";
	}					 
/* ----- Responsive -----*/

@media screen and (max-width: 1000px){
	.contenedor aside #rio{
		display: none;
	}
	.contenedor section{
		display: none;
	}	
	.contenedor aside {
		text-align: center;
	}
	.contenedor header #csgo{
		display: flex;
		width: 100vw;
		justify-content: left;
	}
	.contenedor {
		grid-template-areas:    "header   header   header"
						 		"article  article  article"
						 		"article  article  article"
								"aside    aside    aside"
						 		"footer   footer   footer";
	} 
	
}
